@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&family=Source+Serif+Pro:wght@200;300&display=swap');


html{
    height: 100vh;
}

body{
    height: 100vh;
}


h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #F59566;
    text-decoration-thickness: 5px;
}

h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    /* text-decoration: underline;
    text-decoration-color: #F59566;
    text-decoration-thickness: 5px; */

}

p{
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
    font-weight: 300;


}


a{
    text-align: center;
    color: inherit;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 2em;
    align-items: center;

}

a:hover{
    background-color: #B0BDD2 ;

}


.centering{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;

}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;

    /* raised box */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
     rgba(0, 0, 0, 0.23) 0px 3px 6px;

     /* inset box */
     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;


}

.grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    justify-content: space-around;
}

.about{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
    max-width: 32rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;    
    
    /* RAINBOW outlines     */
    /* box-shadow: blue 0px 0px 0px 2px inset,
      rgb(255, 255, 255) 10px -10px 0px -3px,
      rgb(31, 193, 27) 10px -10px,
      rgb(255, 255, 255) 20px -20px 0px -3px,
      rgb(255, 217, 19) 20px -20px,
      rgb(255, 255, 255) 30px -30px 0px -3px,
      rgb(255, 156, 85) 30px -30px,
      rgb(255, 255, 255) 40px -40px 0px -3px,
      rgb(255, 85, 85) 40px -40px; */
   
   

    /* PALET outlines */
    box-shadow: rgb(255, 120, 87) 0px 0px 0px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(82, 146, 255) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(118, 198, 255) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 189, 118) 30px -30px,
    rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 216, 131) 40px -40px;


    /* Gradient shadow */
    /* box-shadow: rgba(82, 146, 255, 0.4) 5px 5px, 
    rgba(82, 146, 255, 0.3) 10px 10px,
    rgba(82, 146, 255, 0.2) 15px 15px,
    rgba(82, 146, 255, 0.1) 20px 20px,
    rgba(82, 146, 255, 0.05) 25px 25px;} */

}